---
layout: default
---

<div class="listing-prompt"><span class="gt">></span> ls -la posts/</div>

<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-item">
      <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="post-title-link">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<div class="listing-summary">{{ site.posts | size }} posts, {% capture first %}{{ site.posts.last.date | date: "%Y" }}{% endcapture %}{% capture last %}{{ site.posts.first.date | date: "%Y" }}{% endcapture %}{% if first == last %}{{ first }}{% else %}{{ first }}-{{ last }}{% endif %}</div>
